<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="">

<head>
    <meta charset="ISO-8859-1">
    <title>Library Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Library Management System</h1>
    <hr>
    <h2>Update Borrow</h2>

    <form action="#" th:action="@{/saveBorrow}" th:object="${borrow}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="date" th:field="*{borrowDate}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{member}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{book}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Update Borrow</button>
    </form>

    <hr>

    <a th:href="@{/showBorrowList}"> Back to Borrow List</a>
</div>
</body>

</html>